.A_button_arrow{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--black-text);
    border-radius: 100%;
    border: none;
}