*{
    box-sizing: border-box;
}

body, html{
    background-color: var(--white-body);
    width: 88vw;
    margin: 0 auto;
    height: 100%;
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 400; 
}


hr{
    border: none; 
    background-color: var(--grey-text); 
    height: 1px;
}

.Q_grey_line{
    border: none; 
    background-color: var(--light-grey); 
    height: 1px;
}



h1{
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 500; 
    font-size: 64px;
    line-height: 1.1;
}

h2{
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.1;
}

h3{
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
}

h4{
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.1;
}

h5{
    font-family: 'Golos Text VF', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1; 
}

h6{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
}


p{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1; 
}

a{
    text-decoration: none;
    color: var(--black-text);
}

.n, .o, .k{
    display: none;
}

// Вариации стиля текста
.grey{
    color: var(--grey-text);
}

.orange {
    color: var(--orange-accent);
}

.white{
    color: var(--white-card);
}

#blue_bold{
    font-family: 'Golos Text VF', sans-serif;
    color: var(--blue-note);
    font-weight: 500;
}


.boldVF{
    font-family: 'PT Root VF', sans-serif;
    font-weight: 500; 
}

@media screen and (max-width: 834px){
    .A_menu{
        background-color: bisque;
    }

}