
@font-face {
    font-family: 'Golos Text VF';
    src: url('fonts/golos-text_vf.woff2') format('woff2'),
	url('fonts/golos-text_vf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');






