
@font-face {
    font-family: 'Golos Text VF';
    src: url('fonts/golos-text_vf.woff2') format('woff2'),
	url('fonts/golos-text_vf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'PT Root VF';
	src:
		url('fonts/pt-root-ui_vf.woff2') format('woff2'),
		url('fonts/pt-root-ui_vf.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}




