:root{
    --blue-note: #1D3FAE;
    --dark-blue: #031A66;
    --orange-accent: #FF5C39;
    --white-body: #F3F3F6;
    --white-card: #FDFDFF;
    --grey-text: #7C7D85;
    --black-text: #040714;
    --light-grey: #E0E0E0;
}