.O_track{
    display: flex;
    flex-direction: row;
    background-color: var(--white-card);
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 16px 24px;
    border-radius: 4px;
    width: 100%;
}