.O_track{
    display: flex;
    flex-direction: row;
    background-color: var(--white-card);
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    height: 128px;
    width: 40vw;
}