.Q_logo{
    display: flex;
    height: 22px;
    cursor: pointer;
}

.Q_logo_white{
    display: flex;
    height: 22px;
    cursor: pointer;
}

.Q_image_little{
    weight: 240px;
    border-radius: 2px;
}

.Q_arrow_orange{
    width: 12px;
}

.Q_video{
    height: 46vw;
    border-radius: 8px;
}

.Q_video_little{
    height: 20vw;
    border-radius: 4px;
}

.Q_Image_track {
    height: 80px;
    border-radius: 2px;
}

.Q_Image_cloth{
    width: 200px;
    border-radius: 4px;
}

.Q_Image_style{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.Q_h2_d{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
}

.Q_icon_dec{
    position: absolute;
    right: 6vw;
    margin-top: -48px;
}

.Q_audio{
   width: 29vw;
}

audio::-webkit-media-controls-play-button {
    background-color: var(--light-grey);
    border-radius: 100%;
    margin-right: 8px;
}

audio::-webkit-media-controls-panel {
  background-color: var(--white-card);
  padding: 0;
  width: 100%;
}

.Q_Image_helper{
    width: 20vw;
}

.Q_note{
    width: 18vw;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--grey-text);
    color: var(--grey-text) ;
}

.Q_bg_image, .Q_bg_image_m{
    position: absolute;
    left: 0;
    margin-top: 220px;
    z-index: 2;
}

.Q_bg_image_m{
    display: none;
}

